.space-buttons{
    flex: auto;
}
.navigationbar{
    background-color: rgb(8, 8, 8);
}
.insidelogin{
    background-color: rgb(13, 14, 13);
}
h2{
    color: rgba(210, 124, 191, 0.918);
}
.navbar{
    color: rgba(210, 124, 191, 0.918);
}
.add{
    color: rgb(235, 205, 205) ;
}