<div class="home-section mt-3" >

  <div class="background-section"></div>
  

  
 <div class="demo-section">
  
  <h1>Who We Are, Lets Find Out!!</h1>
  
  
  
 <div class="divider"></div>
  
  
  
   <p>
  
    Welcome to Matrimony!

    We are thrilled to have you join our community of individuals who are seeking a meaningful and fulfilling relationship. Matrimony is a platform designed to help you find your perfect match and build a lasting connection.
  
  </p>
  
  
  
   <button
  
   type="button"
  
   style="font: size 48px"
  
   mat-raised-button
  
   routerLink="/login"
  
   class="demo-btn"
  
  >
  
   TRY NOW
  
   </button>
  
   </div>
  
  
  
   <div class="why-section">
  
  <h1>What makes us different?</h1>
  
  
  
  <div class="divider"></div>
  
  
  
   <div class="items-container">
  
  <div class="item">
  <i class="fa-solid fa-square-pen"></i>
  
  
  
<h2>What we Love?</h2>
  
  
  
  <p>We love what we do, and that’s how we offers something that no other product in the online matchmaking industry offers and proves us as marriage biodata maker online.</p>
  
  </div>
  
  
  
   <div class="item">
  
<i class="fa-solid fa-square-phone"></i>
  
  
  
  <h2>Choose your best partners</h2>
  
  
  
 <p>
  
  Trust and security is our main priorities that’s how we move together.
  
  </p>
  
   </div>
  
  
  
   <div class="item">
  
   <i class="fa-solid fa-square-poll-vertical"></i>
  
  
  
  <h2>Subscribe and choose</h2>
  
  
  
   <p>
  
   Subscribe and choose partner based on preferences.
  
   </p>
  
   </div>
  
   </div>
  
  
  
   <div class="bb">
  
  <button
  
  type="button"
  
   style="font: size 48px"
  
   mat-raised-button
  
   routerLink="/aboutUs"
  
  class="km-btn"
  
  >
  
  KNOW MORE
  
   </button>
  
   </div>
  
   </div>
  
  
  
  <footer class="site-footer">
  
  <div class="container">
  
   <div class="row">
  
   <div class="col-sm-12 col-md-6">
  
   <h6>About</h6>
  
  
  
  <p class="text-justify" style="text-align: justify">
  
    Our platform offers a user-friendly interface that simplifies the process of finding a life partner. We understand that finding the right person can be challenging and time-consuming, which is why we have designed our platform to make the process as easy as possible.
  
  </p>
  
  </div>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;

 <div class="col-xs-6 col-md-3">
 <h6>Quick Links</h6>
  
  
  
   <ul class="footer-links">
  
  <li><a routerLink="/aboutUs">About Us</a></li>
  
  
  
   <li><a routerLink="/contactUs">Contact Us</a></li>
  
  
  
   <li><a routerLink="/login">Login</a></li>
  
  
  <li><a routerLink="/signUp">Register</a></li>
  
   </ul>
  
   </div>
