
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1" >
    <div class="container mt-5">
      <div class="row">
        <div class="col-xl-12">
          <div class="bradcam_text text-center">
            <h1><i>About Us</i></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ bradcam_area  -->
  
  <!-- Start Sample Area -->
  <section class="sample-text-area">
  <div class="container box_1170">
    
    
  <h4 class="text-heading">MatrimonySite.com</h4>
  <p class="sample-text">
  <strong>
  Who We Are, Lets Find Out!!</strong><br><p>
  Matrimony.com is an online platform to create beautiful customized Marriage biodata. 
  It provides Marriage  Biodata of users which are designed in such a manner that it covers mostly  all the fields that you are searching for and gives emphasis on preferences and name.</p>
  
  <strong>Matrimony.com basically focused on  five fundamental principles:</strong>
  <p >1. Provide best and attractive design Biodata template at minimal cost.<br>
  2. Create your bold and interesting impression on the viewer so that they don’t feel your biodata as commodity or a resume .<br>
  3. Supports you for each and every query with our  best chat  tool and friendly customer support.<br>
  4. Your personal data are the foremost priority for us and we follow strong security of your data.<br>
  5. To reduce stereotyped profiles and switch to smarter way to represent yourself for your marriage.
  </p>
  <p>
  <b>What makes us different?</b></p>
  <p>
  We love what we do, and that’s how we offers something that no other product in the online matchmaking industry offers and proves us as marriage biodata maker online.
  All out Milan Mantra Biodata templates have eye catching and unbeatable  designs and we have large category of templates based on individual Choices,  preferences, religion and pages.
  
  Trust and security is our main priorities that’s how we move together.
  If you never try……you will never know..try something innovative and unique with Milan Mantra
    </p>
  </div>
  </section>
  